/*Seletor direto*/
body{
    background-color: rgb(228, 216, 202);
    text-align: center;
}

/*Seletores ID */
h2#titleAbout {
    color: rgb(143, 17, 17);
    font-family: Arial;
}

a#info {
    color: black;
    text-decoration: none;
}

/*Seletores de Filho direto*/
article > header {
    font-style: italic;
    font-size: 14px;
}

article > p {
    text-align: inherit;
}

body > header > div  {
    display: inline-block;
    background-color: rgb(250, 216, 202);
    color: rgb(19, 19, 109);
    font-family: cursive;
    /*Borda*/
    /*border-width: thick;
    border-color: black;
    border-style: dashed;*/
    border: thick black dashed;
    border-radius: 10px;
}

/*Seletores Descedentes */
.textAbout strong {color: rgb(87, 0, 128);}

/*Seletores Agrupados*/
aside, footer{
    font-size: 10px;
    font-weight: bold;
}

/*Seletores Classe */
p.textAbout{
    font-size: 15px;
}