h1#tittle {
    color: rgb(19, 19, 109);
    font-family: Arial;
}

h2#titleAbout {
    color: rgb(143, 17, 17);
    font-family: Arial;
}

strong {color: green;}

a#info {color: black}

aside, footer{
    font-size: 10px;
}

p.textAbout{
    font-size: 15px;
}